Я внимательно ознакомился с условиями, и ознакомился с условиями- запретов для использования датафрейм из Pandas нет, а он, по моему мнению является наиболее удобным как с точки зрения аналитики, так и количества имеющихся данных(спарк точно не нужен)

Для каждой задачи я вывожу результат отдельно, затем, в конце, вывожу общий свод, как указано в требованиях.

Цифра общей выручки не такая как указано в примере, но я перепроверил, у меня получается именно 23.5

In [169]:
import pandas as pd 
# создаю датафрейм

purchases = [
    {"item": "apple", "category": "fruit", "price": 1.2, "quantity": 10},
    {"item": "banana", "category": "fruit", "price": 0.5, "quantity": 5},
    {"item": "milk", "category": "dairy", "price": 1.5, "quantity": 2},
    {"item": "bread", "category": "bakery", "price": 2.0, "quantity": 3},
]

df = pd.DataFrame(purchases)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   item      4 non-null      object
 1   category  4 non-null      object
 2   price     4 non-null      float64
 3   quantity  4 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes

     item category  price  quantity
0   apple    fruit    1.2        10
1  banana    fruit    0.5         5
2    milk    dairy    1.5         2
3   bread   bakery    2.0         3

In [170]:
# Задача1: Рассчитайте и верните общую выручку (цена * количество для всех записей)
# Ответ: 23.5(решение ниже) 
class Rectangle:
    def __init__(self,purchases):
        self.a=purchases
        
        
    def mydf(self):
        df = pd.DataFrame(purchases)
        return df
    def total_revenue(purchases):
        tr = sum(df['price']*df['quantity'])
        return tr

mc1=Rectangle(purchases)
#mc1.mydf()
revv=mc1.total_revenue()
print(f"Общая выручка: {revv}")

Общая выручка: 23.5

In [171]:
ptest = df[['category','item']]

ptest.info()
ptest.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  4 non-null      object
 1   item      4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

  category    item
0    fruit   apple
1    fruit  banana
2    dairy    milk
3   bakery   bread

In [172]:
# Задача2: Верните словарь, где ключ — категория, а значение — список уникальных товаров в этой категории.


class my_dict:
    def __init__(self,purchases):
        self.a=purchases
        
        
    def mydf(self):
        df = pd.DataFrame(purchases)
        ptest = df[['category','item']]

        return df
    def items_by_category(purchases):
        mydict = {}
        for x in range(len(ptest)):
            currentid = ptest.iloc[x,0]
            currentvalue = ptest.iloc[x,1]
            mydict.setdefault(currentid, [])
            mydict[currentid].append(currentvalue)

        
        return mydict

mdcr=my_dict(purchases)

mdcr1=mdcr.items_by_category()
print(f"Товары по категориям: {mdcr1}")

Товары по категориям: {'fruit': ['apple', 'banana'], 'dairy': ['milk'], 'bakery': ['bread']}

In [173]:
# Задача3: Выведите все покупки, где цена товара больше или равна min_price

# Вместо знечений минимальной цены minvar можно ставить любую цифру
class my_dict:
    def __init__(self,purchases):
        self.a=purchases
        
        
    def mydf(self):
        df = pd.DataFrame(purchases)
        ptest = df[['category','item']]

        return df

    minvar = 1.0
    #minvar = df['price'].min()    
    
    def expensive_purchases(purchases,minvar):
        df_mv = df[df['price']>minvar]

        df_mv_v = df_mv.to_dict('split')
        df_mv_vc=df_mv_v['columns']
        df_mv_vv=df_mv_v['data']
        df_mv_vv0 = df_mv_vv[0]
        df_mv_vv1 = df_mv_vv[1]
        df_mv_vv2 = df_mv_vv[2]

        dictionary0 = dict(zip(df_mv_vc, df_mv_vv0))
        dictionary1 = dict(zip(df_mv_vc, df_mv_vv1))
        dictionary2 = dict(zip(df_mv_vc, df_mv_vv2))

        ml =[]
        ml.append(dictionary0)
        ml.append(dictionary1)
        ml.append(dictionary2)
        return ml    

mdcr=my_dict(purchases)

mdcr2=mdcr.expensive_purchases(minvar)

print(f"Покупки дороже {float(minvar)}: {mdcr2}")

Покупки дороже 1.0: [{'item': 'apple', 'category': 'fruit', 'price': 1.2, 'quantity': 10}, {'item': 'milk', 'category': 'dairy', 'price': 1.5, 'quantity': 2}, {'item': 'bread', 'category': 'bakery', 'price': 2.0, 'quantity': 3}]

In [174]:
# Задача4: Рассчитайте среднюю цену товаров по каждой категории
import numpy as np

class my_dict:
    def __init__(self,purchases):
        self.a=purchases
        
        
    def mydf(self):
        df = pd.DataFrame(purchases)
        

        return df
    def average_price_by_category(purchases):
        df_av = df.pivot_table(index ="category",values="price",aggfunc=np.average).reset_index()
        df_av = df_av.sort_values(by="price",ascending=True)

        mydict = {}
        for x in range(len(df_av)):
            currentid = df_av.iloc[x,0]
            currentvalue = df_av.iloc[x,1]
            mydict.setdefault(currentid, [])
            mydict[currentid].append(currentvalue)
            d = {k: float(v[0]) for k,v in mydict.items()}

        return d   


mdcr=my_dict(purchases)

mdcr3=mdcr.average_price_by_category()
print(f"Средняя цена по категориям: {mdcr3}")

Средняя цена по категориям: {'fruit': 0.85, 'dairy': 1.5, 'bakery': 2.0}

In [175]:
# Задача5: Найдите и верните категорию, в которой куплено больше всего единиц товаров

class my_dict:
    def __init__(self,purchases):
        self.a=purchases
        
        
    def mydf(self):
        df = pd.DataFrame(purchases)
        

        return df
    def most_frequent_category(purchases):
        df_sm = df.pivot_table(index ="category",values="quantity",aggfunc=np.sum).reset_index()
        df_sm = df_sm.sort_values(by="quantity",ascending=False)

        df_sm=df_sm.head(1)

        ctry_mx = df_sm['category'].unique()
        ctry_mx=ctry_mx[0]

        return ctry_mx   


mdcr=my_dict(purchases)

mdcr4=mdcr.most_frequent_category()
print(f"Категория с наибольшим количеством проданных товаров: {mdcr4}")

Категория с наибольшим количеством проданных товаров: fruit

In [176]:
print(f"Общая выручка: {revv}")
print(f"Товары по категориям: {mdcr1}")
print(f"Покупки дороже {float(minvar)}: {mdcr2}")
print(f"Средняя цена по категориям: {mdcr3}")

Общая выручка: 23.5
Товары по категориям: {'fruit': ['apple', 'banana'], 'dairy': ['milk'], 'bakery': ['bread']}
Покупки дороже 1.0: [{'item': 'apple', 'category': 'fruit', 'price': 1.2, 'quantity': 10}, {'item': 'milk', 'category': 'dairy', 'price': 1.5, 'quantity': 2}, {'item': 'bread', 'category': 'bakery', 'price': 2.0, 'quantity': 3}]
Средняя цена по категориям: {'fruit': 0.85, 'dairy': 1.5, 'bakery': 2.0}